<!Doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>SAD - Preguntas frecuentes</title>
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/tildes.js"></script>
<script>


var app = angular.module('filter', []);
app.controller('MainController', function($scope, $http) {

$http.post("php/select.php").then(function(response) {
        $scope.preguntas = response.data;
    });

$scope.applySearch = function() {
    for(prop in $scope.userInput) {
        $scope.search[prop] = $scope.userInput[prop];
    }
};

$scope.search = {};
$scope.search.titulo = "";
$scope.userInput = "";
});



// filterBy implementation
app.filter('filterBy', function() {
    return function(array, query) {
	
        var parts = query && query.trim().split(/\s+/),
            keys = Object.keys(array[0]);
    
        if (!parts || !parts.length) return array;
    
        return array.filter(function(obj) {
            return parts.every(function(part) {
                return keys.some(function(key) {
                    return detilde(String(obj[key])).toLowerCase().indexOf(detilde(part.toLowerCase())) > -1;
                });
            });
        });
    };

});

</script>
<style>

@media (max-width: 769px){
.buscador{
width:98%;
}
}
@media (max-width: 480px){
.buscador{
width:98%;
}
}
</style>
</head>
<body>



<div ng-app="filter" ng-controller="MainController">
	<nav class="navbar navbar-inverse" style="border-radius:0px;width:100%;">
		<a class="navbar-brand" href="#">Preguntas frecuentes</a>	
    <ul class="nav navbar-nav">

    </ul>      
		<div class="input-group buscador" style="margin:5px;max-width:500px;">
    			<input type="text" style="background:rgba(100,100,100,0.8);color:white;" class="form-control"  placeholder="Buscar..." ng-model="userInput.titulo" id="busca" ng-model-onblur>
			<span class="input-group-btn">
				<button id="soli" class="btn btn-secondary" type="button" ng-click="applySearch()" onclick="$('#solicitar').val($('#busca').val())">Buscar</button>
								<button onclick="$('#busca').val('')" ng-click="search.titulo = ''" class="btn btn-secondary">Borrar</button>
			</span>
		</div>
	</nav>




<div class="container">
    <div class="row">

<div class="col-md-9" >
<div id="accordion" class="panel-group">

<div  ng-show="!(preguntas| filterBy:search.titulo).length" style="display:none;" id="nohay">
<h3 class="alert alert-danger" role="alert">No hay preguntas relacionadas a <span class="tag ng-binding" style="color: black;">{{search.titulo}}</span>! <button class="btn btn-danger" style="float:right;" ng-click="search.titulo = null" onclick="$('#busca').val('')">Volver</button></h3>

<p class="alert alert-success lead" style="font-size:15px;">Si desea una respuesta, solicitela <br><input type="text" id="solicitar"><br>Dejanos tu mail y serás notificado al responderse<br><input type="mail" id="mail" placeholder="correo electronico"><br><br><span class="btn btn-success" onclick="agregarsoli()" >Solicitar</span></p>
</div>	
<!-- ng-show="search.titulo" -->
<div  class="panel panel-default" ng-repeat="pregunta in preguntas | filterBy:search.titulo | limitTo: 10" style="margin-top:-3px;">


<div class="panel-heading titulo" data-toggle="collapse"  id="{{pregunta.id}}" data-parent="#accordion"  onclick="responder(this)" href="#collapse{{pregunta.id}}" style="cursor:pointer;">
      <h4 class="panel-title">
      {{pregunta.pregunta}}
      </h4>
    </div>
    <div id="collapse{{pregunta.id}}" class="panel-collapse collapse">
      <div class="panel-body respuestas" id="respuesta{{pregunta.id}}"></div>
    </div>
</div>
</div>
</div>
<div class="col-md-3">
<div class="panel panel-info">
	<div class="panel-heading">
	<h3 class="panel-title">Búsquedas recientes</h3></div><div class="panel-body"></div>
</div>
</div>
</div>
</div>



<script>
function responder(elemento){
$('.respuestas').html('');
$('#respuesta'+id).html('Cargando respuesta...');
var id = $(elemento).attr('id');
var datos = { id: id };
$.ajax({
	url:'php/respuesta.php',
	data: datos,
	type:'post',
	success: function (res){res=JSON.parse(res);
				$('#respuesta'+id).html(res[0].respuesta);
				},
	complete: function (res){res=JSON.parse(res);
				$('#respuesta'+id).html('Cargando respuesta...');
				}

});
}


$('#soli').click(function (){
$("#nohay").css('display','block');
});

$('input[type=text]').on('keydown', function(e) {
    if (e.which == 13) {
	$('#soli').click();
	$('input[type=text]').focus();
    }
});

$.ajax({
	url:'php/recientes.php',
	type:'post',
	success: function (res){
	res=JSON.parse(res);
	for(var i=0;i<res.length;i++){
	$(".panel-body").append('<p><a style="color:black;cursor:pointer;" id="reciente'+res[i].id+'" onclick="visitareciente(this)">'+res[i].pregunta+'</a></p>');
}
}
});


function visitareciente(elemento){
$('#busca').val($(elemento).html());
$('#busca').trigger('input');
$("#soli").click();
var recent= $(elemento).attr('id').replace('reciente','');
$("#"+recent).click();
}

function agregarsoli(){
var datos={
'solicitud':$('#solicitar').val(),
'correo':$('#mail').val()
};
$.ajax({
	url:'php/agregar.php',
	data:datos,
	type:'post',
	success:function(res){
	alert(res);
	}

});
}
</script>
</body>
</html>
